<dx-popup
  class="d-con-pop"
  [(visible)]="popupVisible"
  [toolbarItems]="popupToolbarItems"
  [(width)]="popupWidth"
  [(height)]="popupHeight"
  [title]="popupTitle"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  (onHiding)="onPopupHiding($event)"
  (onHidden)="onPopupHidden($event)"
  (onInitialized)="onLookupPopupInitialized($event)"
>
<dx-scroll-view>
    <form [formGroup]="rForm">
        <dx-form #frmStudentDetails labelMode="floatingMode" class="d-profile-setting">

            <dxi-item itemType="group"  [colCount]="1" [colSpan]="2">
                    <dxi-item>
                        <dx-text-box label="Movie Name *" formControlName="movie">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Movie Name is required.">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </dxi-item>

                    <dxi-item>
                        <dx-select-box formControlName="category" valueExpr="name" displayExpr="name" label="Category*"
                            [items]="Movies"><dx-validator>
                                <dxi-validation-rule type="required" message="Category is required.">
                                </dxi-validation-rule></dx-validator></dx-select-box>
                    </dxi-item>
                        <dxi-item>
                            <dx-date-box type="date" displayFormat="dd/MM/yyyy" label="Release Year*"
                                formControlName="releaseyear">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Release Date is required.">
                                    </dxi-validation-rule></dx-validator>
                            </dx-date-box>
                        </dxi-item>
            </dxi-item>
        </dx-form>
    </form>
</dx-scroll-view>
</dx-popup>

<ng-template #componentContainer></ng-template>
