<!-- <div
  style="
    height: 92vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  "
>
  <ngx-typed-js
    [strings]="['Kishan Kathiriya']"
    [smartBackspace]="true"
    [shuffle]="true"
    [fadeOut]="true"
    [backDelay]="4000"
    [typeSpeed]="100"
    [loop]="true"
  >
    Welcome <span class="typing"></span>
  </ngx-typed-js>
</div> -->

<!-- <div class="content-block responsive-paddings">
  <div class="container">
    <div class="box">
      <div class="title">
        <span class="block"></span>
        <h1>
          <ngx-typed-js
            [strings]="['Welcome To Vision']"
            [smartBackspace]="true"
            [shuffle]="true"
            [fadeOut]="true"
            [backDelay]="4000"
            [typeSpeed]="100"
            [loop]="true"
          >
            <span class="typing"></span>
          </ngx-typed-js>
        </h1>
      </div>

      <div class="role">
        <div class="block"></div>
        <hr
          style="
            height: 2px;
            width: 300px;
            margin-left: 0px;
            border-width: 0;
            background-color: black;
          "
        />
      </div>
      <div class="role">
        <div class="block"></div>
        <p>Kishan Kathiriya</p>
      </div>
    </div>
  </div>
</div> -->

<div style="background-color: white">
  <img
    style="height: 80vh; margin: 0 auto; display: flex; justify-content: center"
    src="../../../assets/images/logo.png"
    alt=""
  />
  <div
    style="
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <ngx-typed-js
      style="padding-bottom: 32px"
      [strings]="username"
      [smartBackspace]="true"
      [shuffle]="true"
      [fadeOut]="true"
      [backDelay]="3000"
      [typeSpeed]="100"
      [loop]="true"
    >
      <span
        style="
          font-weight: bold;
          font-family: 'Lato';
          font-size: 16px;
          opacity: 0.8;
        "
      >
        Welcome
      </span>
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
</div>
